{% extends 'examplus/layout.html' %} 
{% load static %}


{% block main %} 

<div id="container">
    {% for course in courses %}
        <table class="table table-striped table-hover">
            <tr>
                <th>Course Title</th><td>{{ course.title }}</td>
            </tr>
            <tr> 
                <th>Course Code</th><td>{{ course.code }}</td>
            </tr>
            <tr>
                <th>Credit Hours</th><td>{{ course.credit_hours }}</td>
            </tr>
            <tr>
                <th>Venue</th><td>{{ course.venue }}</td>
            </tr>
            <tr>
                <th>Date</th><td>{{ course.date }}</td>
            </tr>
            <tr class="bg-success">
                <th class="text-white">Start time</th><td class="text-white">{{ course.start_time }}</td>
            </tr>
            <tr class="bg-danger">
                <th class="text-white">End time</th><td class="text-white">{{ course.end_time }}</td>
            </tr>    
        </table>
        <br>
        {% empty %}
            <div class="alert alert-info w3-animate-opacity" role="alert">
                <h2 class="alert-heading">Hurray!</h2>
                <h5>You don't have a paper scheduled for today.</h5>
                <hr style="border: 1px solid #ccc;">
                <p class="mb-0">
                    You can go ahead and do your personal errands.<br><br>
                    <div class="alert alert-warning" role="alert">
                        Don't forget to stay prepared
                    </div>
                </p>
            </div>
            <article>
                <h4 class="text-center fw-bold">-Take a Quick Tour-</h4>
                <br>
                <video controls class="tutorial-video">
                    <source src="{% static 'examplus/videos/tutorial.mp4' %}" type="video/mp4">
                    Your browser does not support the video
                </video>
            </article>
    {% endfor %}

     <!-- Button trigger modal -->
     <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Register Courses
    </button>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Register Courses</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'examplus:candidate/dashboard' %}" class="candidate-form">
                    {% csrf_token %}
                    {{ candidate_form.as_p }}
                    <span class="btn-wrapper">
                        <input type="reset" value="Clear" class="btns reset-btn">
                        <input type="submit" value="Submit" class="btns submit-btn">
                    </span>
                    {% if form.errors %}
                        <p class="alert alert-warning">{{ form.errors }}</p>
                     {% endif %}
                </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div> 
    
    
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed alert alert-info" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                <strong class="fw-bold">Upcoming Papers</strong>
            </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    {% for course in upcoming_courses %}
                        <table class="table table-striped table-hover">
                            <tr>
                                <th>Title</th><td>{{ course.title }}</td>
                            </tr>
                            <tr>
                                <th>Date</th><td>{{ course.date }}</td>
                            </tr>
                            <tr>
                                <th>Venue</th><td>{{ course.venue }}</td>
                            </tr>
                        </table>
                        <hr style="border: 1px solid #ccc;">
                        {% empty %}
                            <h4 class="alert alert-info">No pending paper(s)</h4>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
   
{% endblock %}